{% extends "base.html" %} {% block content %}
<div class="col-sm-9">
  <div class="blog-post-area">
    <h2 class="title text-center">Latest From our Blog</h2>

    {% for blog in page_obj %}

    <div class="single-blog-post">
      <h3>{{ blog.title }}</h3>

      <div class="post-meta">
        <ul>
          <li>
            <i class="fa fa-user"></i>
            {{ blog.author.username }}
          </li>

          <li>
            <i class="fa fa-clock-o"></i>
            {{ blog.created_at|date:"H:i" }}
          </li>

          <li>
            <i class="fa fa-calendar"></i>
            {{ blog.created_at|date:"d/m/Y" }}
          </li>
        </ul>
      </div>

      {% if blog.image %}

      <a href="{% url 'blog_detail' blog.id %}">
        <img src="{{ blog.image.url }}" alt="{{ blog.title }}" />
      </a>
      {% endif %}

      <p>{{ blog.description }}</p>

      <a class="btn btn-primary" href="{% url 'blog_detail' blog.id %}">
        Read More
      </a>
    </div>

    {% empty %}

    <p>Chưa có bài viết nào.</p>

    {% endfor %}
  </div>
  <div class="pagination-area">
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li>
        <a href="?page={{ page_obj.previous_page_number }}">
          <i class="fa fa-angle-double-left"></i>
        </a>
      </li>
      {% endif %} {% for num in page_obj.paginator.page_range %} 
      {% if page_obj.number == num %}

      <li>
        <a href="?page={{ num }}" class="active"> {{ num }} </a>
      </li>

      {% else %}

      <li>
        <a href="?page={{ num }}"> {{ num }} </a>
      </li>

      {% endif %} {% endfor %} {% if page_obj.has_next %}
      <li>
        <a href="?page={{ page_obj.next_page_number }}">
          <i class="fa fa-angle-double-right"></i>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}
