{% extends "base.html" %} {% block content %}

<div class="col-sm-4">
  <div class="signup-form">
    <h2>Đăng ký</h2>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <label>Username:</label>
      {{ form.username }} {{ form.username.errors }}

      <label>Email address:</label>
      {{ form.email }} {{ form.email.errors }}

      <label>Password:</label>
      {{ form.password }} {{ form.password.errors }}

      <label>Confirm password:</label>
      {{ form.confirm_password }} {{ form.confirm_password.errors }}

      <label>Avatar:</label>
      {{ form.avatar }} {{ form.avatar.errors }}

      <label>First name:</label>
      {{ form.first_name }} {{ form.first_name.errors }}

      <label>Last name:</label>
      {{ form.last_name }} {{ form.last_name.errors }}

      <label>Country:</label>
      {{ form.country }} {{ form.country.errors }} {{ form.non_field_errors }}
      <button type="submit" class="btn btn-default">Đăng ký</button>
    </form>
  </div>
</div>
{% endblock %}
